# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/

# PyInstaller
build/
dist/
*.exe
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

otc erindor launcher.code-workspace